VITE_API_URL=https://profjero-sms-api-prod.amoakob947.workers.dev
VITE_FIREBASE_API_KEY=AIzaSyD3xt0baD2zzSB4Lk5vEH2wzb5p7lokhSI
VITE_FIREBASE_AUTH_DOMAIN=profjero-sms-gateway.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=profjero-sms-gateway
VITE_FIREBASE_APP_ID=1:1234567890:web:abcdef1234567890